.ng-button {
  text-align: center;
  display: inline-block;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  padding: 7px 26px;
  border: 1px solid transparent;
  border-radius: .25rem;
  cursor: pointer;
  font-family: 'VIC-Regular';
  font-size: 16px;
}

.ng-button--default {
  background-color: var(--text-light);
  color: var(--text-blue);
  border: solid 1px #DDDBDA;
}

.ng-button--default:hover {
  background-color: var(--light-grey);
}

.ng-button--primary {
  background-color: var(--text-blue);
  color: var(--text-light);
}

.ng-button--primary:hover {
  background-color: var(--text-dark);
}

.ng-button--secondary {
  background-color: var(--light-color);
  color: var(--primary-color);
}

.ng-button--secondary:hover {
  background-color: var(--light-neutral);
}